<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>AgricMe</title>
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />
    <style>
      * { margin: 0; padding: 0; font-family: "Poppins", sans-serif; }
      .main-container { background: #f1f1f1; padding: 2rem 0; width: 100%;
      color:#367b63; } .container { width: 100%; max-width: 700px; margin: 0
      auto; } .main { background: #ffffff; padding-bottom: 90px; border-radius:
      6px; padding: 1rem 1rem 2rem; } .main h1 { text-align: center; font-size:
      26px; line-height: 36.5px; padding-bottom: 30px; font-weight: bold; color:
      #367b63; } .header { width: 100%; display: flex; justify-content: center;
      align-items: center; margin-bottom: 20px;} .header img { max-width: 100%;
      object-fit: contain; display: block; } .footer { text-align: center;
      padding-bottom: 100px; padding-top: 40px; } .footer img { width: 34px;
      height: 34px; } p{ margin: 1rem 0; } .main .cap {text-transform:
      capitalize;}

    </style>
  </head>
  <body>
    <div class='main-container' style='font-family: Poppins, sans-serif;'>
      <div class='container'>
        <!-- Email header -->

        <!-- Email Main -->
        <div class='main'>
          <!-- Heading -->
          <h1>Welcome to AgricMe</h1>

          <div class='header'>
            <center>
              <img
                src='https://res.cloudinary.com/dynopc0cn/image/upload/v1732640427/image_s3vlce.png'
                alt='Agricme-Logo'
              />
            </center>
          </div>

          <p>Hi <strong class='cap'>{{firstName}}</strong>,</p>

          <p>Thank you for joining Agricme, the platform dedicated to
            transforming agriculture and empowering farmers like you. Your
            registration is complete, and you're one step closer to unlocking
            the full potential of your farming journey.</p>

          <p>Here's what you can do with Agricme:</p>
          <ul>
            <li><p><strong class='cap'>Connect Directly</strong>: Trade your
                products with buyers and access a wider market without
                middlemen.</p></li>
            <li><p><strong class='cap'>Manage Your Farm</strong>: Use our
                easy-to-use tools to track records, monitor crops, and boost
                productivity.</p></li>
            <li><p><strong class='cap'>Access Essential Services</strong>:
                Connect with service providers to meet your farming needs.</p></li>
            <li><p><strong class='cap'>Collaborate and Learn</strong>: Join a
                growing community of farmers to share knowledge and gain
                insights for success.</p></li>
          </ul>

          <p>To get started, log in to your account and explore all the features
            designed to support and grow your farming business:</p>

          <p>We're thrilled to have you as part of our community and look
            forward to supporting you every step of the way. If you have any
            questions, feel free to contact us at agricme@gmail.com or visit our
            help center.</p>

          <p>Welcome aboard!</p>

          <p>Best Regards,<br /><strong class='bold'>The Agricme Team</strong>
          </p>
        </div>

        <!-- Email Footer -->
      </div>
    </div>
  </body>
</html>